*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  background: #f5f5f5;
}

h1{
  margin: 50px 0 20px 0;
  text-align: center;
  font-size: 48px;
}

h2{
  font-size: 24px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

.add-todo{
  display: flex;
  justify-content: center;
  align-content: center;
}

input{
  width: 350px;
}

button{
  padding: 0;
  border: 0;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0)
}

.fa-plus-square{
  font-size: 40px;
}

.container{
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cartoes{
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
  text-align: center;
  width: 300px;
}

.cartoes ul li{
  font-size: 16px;
  border-radius: 10px;
  margin-top: 5px;
  background: #e5eff7;
  list-style: none;
  padding: 10px;
}
